/* Синтаксис CSS  */
/* 
Селектор {
    свойство1: значение 1;
    свойство2: значение 2;
}

Оформление 
. Селектор {свойство1: значение1; свойство2: значение2;}
. Селектор 
{
    свойство1: значение1;
    свойство2: значение2;
} */

/* 
p{
    color: blue;
    font-size: 14px;
}
 */


 h3{
     color:red;
 }