/* Синтаксис CSS  */
/* 
Селектор {
    свойство1: значение 1;
    свойство2: значение 2;
}

Оформление 
. Селектор {свойство1: значение1; свойство2: значение2;}
. Селектор 
{
    свойство1: значение1;
    свойство2: значение2;
} */

.list{
    list-style-type: none;
}

.list li{
    width: 50px;
    height: 25px;
    border: 1px solid #000;
}

.link{
    text-decoration: none;
    text-transform: uppercase;
}


p{
    font-size: 1em;
    
}

.heading{
    color:darkblue;
    background-color: gray;
    border: 4px solid black;
    text-align: center;
}

.blue{
    color:blue;
    background-image: url(/img/1472042660_10.jpeg);
    background-repeat:no-repeat;
    width: 1300px;
    height: 500px;
    
}

/* !обращение к идентификаторам происходит через знак #название идентификатора id */

/* !Обращение к атрибутам тегов происходит через [атрибут] квадратные скобки */

img[alt="Iphone 14Pro"]{
    border: 5px solid green;
}


/* Единицы измерения */

/* Бывают абсолютные и относительные */

/* Самое популярное значение - пиксели px */

/* Процентное соотношение */